@model AvaNet.Models.ForumTopic

<div class="row">
    <div class="col-md-7">
        <div id="forumTopicTitle2">@Model.Title</div>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-2">
        <div id="forumThreadCreateButton">+ New Thread</div>
    </div>
</div>
<div class="gapFour"></div>

<form class="form-group" id="forumThreadForm" asp-action="Create" asp-controller="ForumThreads">
    <div class="row">
        <div class="form-group col-md-3">
            <div id="forumThreadFormTitleLabel">Thread Title:</div>
        </div>
        <div class="form-group col-md-8">
            <input name="Title" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <div id="forumThreadFormContentLabel">Thread Content:</div>
        </div>
        <div class="form-group col-md-8">
            <textarea id="forumThreadFormContentInput" name="Content" class="form-control"></textarea>
        </div>
    </div>
    <input type="hidden" name="ForumTopicID" value="@Model.ForumTopicID">
    <div class="row">
        <div class="form-group col-md-3"></div>
        <div class="form-group col-md-3">
            <input id="forumThreadFormSubmit" type="submit" value="Submit Thread" />
        </div>
        <div class="form-group col-md-1"></div>
        <div class="form-group col-md-3">
            <div id="forumThreadCloseButton">Close</div>
        </div>
        <div class="form-group col-md-2"></div>
    </div>
</form>

@foreach (ForumThread item in Model.ForumThreads)
{
    int likeCount = 0;

    foreach (ForumLike fl in item.ForumLikes)
    {
        likeCount += fl.Weight;
    }

    <div class="row">
        <div class="col-md-12">
            <a asp-action="Index" asp-route-id="@item.ForumThreadID" asp-controller="ForumThreads">
                <div class="forumThreadPanel">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="forumThreadPanelTitle">@Html.DisplayFor(modelItem => item.Title)</div>
                        </div>
                        <div class="col-md-5">
                            <div class="forumThreadPanelLabel">
                                Posted by: @Html.DisplayFor(modelItem => item.ApplicationUser.GameUserID)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="forumThreadPanelLikeImage"></div>
                            <div class="forumThreadPanelLikeLabel">@likeCount</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    $("#forumThreadCreateButton").click(function () {
        $("#forumThreadForm").slideDown();
    });
    $("#forumThreadCloseButton").click(function () {
        $("#forumThreadForm").slideUp();
    });
</script>