@model IEnumerable<AvaNet.Models.ForumTopic>

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<form asp-action="Create" asp-controller="ForumThreads">
    <input name="Title"/>
    <input name="Content"/>
    <input name="ForumTopicID">
    <input type="submit" value="Submit Thread" />
</form>

@foreach (var item in Model)
{
    <div>
        @Html.DisplayFor(modelItem => item.Title)
        @Html.DisplayFor(modelItem => item.Description)
        @Html.DisplayFor(modelItem => item.ForumTopicID)
    </div>
}



