@model AvaNet.Models.ViewModels.ForumViewModels.ForumThreadsIndexViewModel

<div class="row">
    <div class="col-md-6">
        <div id="forumTopicTitle2">@Model.ForumTopicTitle</div>
    </div>
    <div class="col-md-4">
        <div class="forumThreadOrderByPanel">
            <div class="gap"></div>
            <a asp-action="Index" asp-controller="ForumThreads" asp-route-id="@Model.ForumTopicID" asp-route-orderBy="mostLikes">
                <div class="forumThreadOrderByOption">
                    Most Likes
                </div>
            </a>
            <a asp-action="Index" asp-controller="ForumThreads" asp-route-id="@Model.ForumTopicID" asp-route-orderBy="mostComments">
                <div class="forumThreadOrderByOption">
                    Most Comments
                </div>
            </a>
            <a asp-action="Index" asp-controller="ForumThreads" asp-route-id="@Model.ForumTopicID" asp-route-orderBy="newest">
                <div class="forumThreadOrderByOption">
                    Newest
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-2">
        <div id="forumThreadCreateButton">+ New Thread</div>
    </div>
</div>
<div class="gapFour"></div>

<form class="form-group" id="forumThreadForm" asp-action="Create" asp-controller="ForumThreads">
    <div class="row">
        <div class="form-group col-md-3">
            <div id="forumThreadFormTitleLabel">Thread Title:</div>
        </div>
        <div class="form-group col-md-8">
            <input name="Title" class="form-control" maxlength="60" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <div id="forumThreadFormContentLabel">Thread Content:</div>
        </div>
        <div class="form-group col-md-8">
            <textarea id="forumThreadFormContentInput" name="Content" class="form-control"></textarea>
        </div>
    </div>
    <input type="hidden" name="ForumTopicID" value="@Model.ForumTopicID">
    <div class="row">
        <div class="form-group col-md-3"></div>
        <div class="form-group col-md-3">
            <input id="forumThreadFormSubmit" type="submit" value="Submit Thread" />
        </div>
        <div class="form-group col-md-1"></div>
        <div class="form-group col-md-3">
            <div id="forumThreadCloseButton">Close</div>
        </div>
        <div class="form-group col-md-2"></div>
    </div>
</form>

<hr />



<hr />

@foreach (ForumThread item in Model.ForumThreads)
{
    int likeCount = 0;

    foreach (ForumLike fl in item.ForumLikes)
    {
        likeCount += fl.Weight;
    }

    <div class="row">
        <div class="col-md-12">
            <a asp-action="Details" asp-route-id="@item.ForumThreadID" asp-controller="ForumThreads">
                <div class="forumThreadPanel">
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="forumThreadPanelTitle">@Html.DisplayFor(modelItem => item.Title)</div>
                        </div>
                        <div class="col-sm-5">
                            <div class="forumThreadPanelLabel">
                                Posted by: @Html.DisplayFor(modelItem => item.ApplicationUser.GameUserID)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 col-sm-4 col-md-2">
                            <div class="forumThreadPanelLikeImage"></div>
                            <div class="forumThreadPanelLikeLabel">@likeCount</div>
                        </div>
                        <div class="col-xs-5 col-sm-4 col-md-2">
                            <div class="forumThreadPanelCommentsImage"></div>
                            <div class="forumThreadPanelCommentsLabel">@item.ForumComments.Count</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div id="forumThreadsNavigationPanel">
            <a asp-action="Navigate" asp-controller="ForumThreads" asp-route-id="@Model.ForumTopicID" asp-route-orderBy="@Model.OrderBy" asp-route-startIndex="@Model.GetPreviousStartIndex()">
                <div id="forumThreadsNavigationLeft">Left</div>
            </a>
            <a asp-action="Navigate" asp-controller="ForumThreads" asp-route-id="@Model.ForumTopicID" asp-route-orderBy="@Model.OrderBy" asp-route-startIndex="@Model.GetNextStartIndex()">
                <div id="forumThreadsNavigationRight">Right</div>
            </a>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $("#forumThreadCreateButton").click(function () {
        $("#forumThreadForm").slideDown();
    });
    $("#forumThreadCloseButton").click(function () {
        $("#forumThreadForm").slideUp();
    });
</script>